
<section class="vh-100" >
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div *ngIf="isLoadingSpinner" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="!hideLoginImage"  class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://app.imgforce.com/images/user/Rip_1670930246_Screenshot_2.jpg"
            class="img-fluid">
        </div>
        
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" *ngIf="!isLoadingSpinner">
        
        <div class="form-outline mb-4">
          <label class="form-label" for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" autocomplete="off" (keyup)="resetError($event)" required [(ngModel)]="user.username" #username="ngModel">
          <p *ngIf="username.invalid && (username.dirty || username.touched) && username.errors?.['required']">Username is required</p>
        </div>



        <div class="form-outline mb-4">
          <p *ngIf="usernameOrPassAreIncorectError.length">{{ usernameOrPassAreIncorectError }}</p>
          <label class="form-label" for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" (keyup)="resetError($event)" required [(ngModel)]="user.password" #password="ngModel">
          <p *ngIf="password.invalid && (password.dirty || password.touched) && password.errors?.['required']">Password is required</p>
        </div>

        <div class="form-outline mb-4">
          <button class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="login()">Login</button>
        </div>

        <span class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/register" class="link-danger">Register</a></span>
      </div>
    </div>
  </div>
</section>
