<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-5" *ngFor="let oil of userOils">
        <div class="card"  style="width: auto; box-shadow: 5px 10px 8px #888888;">
          <img [src]="oil.url" class="card-img-top" height="350px">
          <div class="card-body">
            <h5>{{ oil.brand }}, {{ oil.scent }}, {{ oil.liquidVolume }}ml</h5>
            <p [id]="oil.id" class="card-text">{{ oil.description | truncate : 125 }}<span (click)="loadmore(oil.id)">load more</span></p>
            <h6>Price: {{ oil.unitPrice }}$</h6>
          </div>
          <div class="row m-3">
            <div class="col-12">
              <button type="button" id="add-to-card-btn" class="btn btn-primary" (click)="addToCart(oil)">Add to card</button>
            </div>
          </div>
        </div>
    </div> 
</div>
