<p>add-to-cart-warning works!</p>
<div class="modal-container">
    <div class="modal-card" >
      <h4 class="mt-2">Add to cart note!</h4>
      <hr>
      <div class="row" style="text-align: center;">
        <p>To use <strong>"Add to cart"</strong> functionality,</p>
        <p>make sure you are first logged in!</p>
      </div>

      <div class="modal-footer" style="text-align: center;">
        <button class="btn btn-primary" (click)="closeMe()">Close</button>
      </div>
    </div>
  </div>


