<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-5" *ngFor="let soap of userSoaps">
        <div class="card">
          <img [src]="soap.url" class="card-img-top">
          <div class="card-body">
            <h4>{{ soap.brand }}, {{ soap.edition }}</h4>
            <p [id]="soap.id" class="card-text">{{ soap.description | truncate : 125 }}<span (click)="loadmore(soap.id)">load more</span></p>
            <h6>Price: {{ soap.unitPrice }}$</h6>
          </div>
          <div class="row">
            <div class="col-6">
              <button type="button" id="add-to-card-btn" class="btn btn-primary m-2" (click)="addToCart(soap)">Add to card</button>
            </div>
            <div class="col-6">
              <button type="button" id="view-details-btn" class="btn btn-secondary m-2">View Details</button>
            </div>
          </div>
        </div>
    </div> 
</div>
<div class="modal-container">
  <div #addToCartWarningModal></div>
</div>