.card {
    width: auto; 
    box-shadow: 5px 10px 8px #888888;
}

img {
    height: 350px;
}

span {
    cursor: pointer;
    font-style: italic;
}

#add-to-card-btn {
    width: 100%; 
    cursor: pointer;
}

#view-details-btn {
    width: 92%; 
    cursor: pointer;
}

  /* Main content */
  .row {
    margin-bottom: 30px; /* Add a bottom margin to avoid content overlay */
  }