.card {
    width: auto; 
    box-shadow: 5px 10px 8px #888888;
}


img {
    height: 350px;
}

span {
    cursor: pointer;
    font-style: italic;
}

#add-to-card-btn {
    width: 100%; 
    cursor: pointer;
}


.row {
    margin-bottom: 30px; 
}