
<div class="row">
    <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-6">
        <img src="https://app.imgforce.com/images/user/jyC_1611618012_soap-2.jpg" style="width: 100%; height: 400px;" >
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="width: 48%; height: 400px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, veritatis! Tempore labore numquam nam tempora eaque rerum enim ab dolorem, accusamus eos cupiditate quo dolorum dolor quasi quod assumenda amet!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, veritatis! Tempore labore numquam nam tempora eaque rerum enim ab dolorem, accusamus eos cupiditate quo dolorum dolor quasi quod assumenda amet!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, veritatis! Tempore labore numquam nam tempora eaque rerum enim ab dolorem, accusamus eos cupiditate quo dolorum dolor quasi quod assumenda amet!</p>
    </div>
</div>
<div class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="width: 48%; height: 400px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, veritatis! Tempore labore numquam nam tempora eaque rerum enim ab dolorem, accusamus eos cupiditate quo dolorum dolor quasi quod assumenda amet!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, veritatis! Tempore labore numquam nam tempora eaque rerum enim ab dolorem, accusamus eos cupiditate quo dolorum dolor quasi quod assumenda amet!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, veritatis! Tempore labore numquam nam tempora eaque rerum enim ab dolorem, accusamus eos cupiditate quo dolorum dolor quasi quod assumenda amet!</p>
    </div>
    <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-6">
        <img src="https://app.imgforce.com/images/user/XHI_1611618063_oil-1.jpg" style="width: 100%; height: 400px;" >
    </div>
</div>
<div class="row">
    <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-sm-6">
        <img src="https://app.imgforce.com/images/user/VxA_1611618089_balm-6.jpg" style="width: 100%; height: 400px;" >
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="width: 48%; height: 400px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, veritatis! Tempore labore numquam nam tempora eaque rerum enim ab dolorem, accusamus eos cupiditate quo dolorum dolor quasi quod assumenda amet!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, veritatis! Tempore labore numquam nam tempora eaque rerum enim ab dolorem, accusamus eos cupiditate quo dolorum dolor quasi quod assumenda amet!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, veritatis! Tempore labore numquam nam tempora eaque rerum enim ab dolorem, accusamus eos cupiditate quo dolorum dolor quasi quod assumenda amet!</p>
    </div>
</div>
