<div class="modal-container">
    <div class="modal-card">
        <h3 class="p-2">Create Oil</h3>
        <div class="row">
            <div class="col-6">
                <div class="m-3 mt-2">
                    <label for="brand" class="form-label">Brand</label>
                    <input type="text" id="brand" name="brand" class="form-control" required minlength="3" [(ngModel)]="createdOilModel.brand" #brand="ngModel" autocomplete="off">
                    <p *ngIf="brand.invalid && (brand.dirty || brand.touched) && brand.errors?.['required']">Brand is required</p>
                    <p *ngIf="brand.invalid && (brand.dirty || brand.touched) && brand.errors?.['minlength']">Brand must have more then 3 letters</p>
                </div>
            </div>
            <div class="col-6">
                <div class="m-3 mt-2">
                    <label for="scent" class="form-label">Scent</label>
                    <input type="text" id="scent" name="edition" class="form-control" required minlength="3" maxlength="50" [(ngModel)]="createdOilModel.scent" #scent="ngModel">
                    <p *ngIf="scent.invalid && (scent.dirty || scent.touched) && scent.errors?.['required']">Scent is required</p>
                    <p *ngIf="scent.invalid && (scent.dirty || scent.touched) && scent.errors?.['minlength']">Scent must have more then 3 letters</p>
                    <p *ngIf="scent.invalid && (scent.dirty || scent.touched) && scent.errors?.['maxlength']">Scent must be less then 50 letters</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="m-3">
                    <label for="liquidVolume" class="form-label">Liquid Volume</label>
                    <input type="number" id="liquidVolume" name="liquidVolume" class="form-control" (keyup)="liquidVolumeInput($event)" min="30" max="100" required [(ngModel)]="createdOilModel.liquidVolume" #liquidVolume="ngModel">
                    <p *ngIf="liquidVolume.invalid && (liquidVolume.dirty || liquidVolume.touched) && liquidVolume.errors?.['required']">Liquid volume is required</p>
                    <p *ngIf="liquidVolume.invalid && (liquidVolume.dirty || liquidVolume.touched) && liquidVolume.errors?.['min']">Liquid volume must be more then 30 ml</p>
                    <p *ngIf="liquidVolume.invalid && (liquidVolume.dirty || liquidVolume.touched) && liquidVolume.errors?.['max']">Liquid volume must be less then 100 ml</p>
                    <p *ngIf="liquidVolumeIsDecimalNumberError.length">{{ liquidVolumeIsDecimalNumberError }}</p>

                </div>
            </div>
            <div class="col-6">
                <div class="m-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="desciption" rows="1" [(ngModel)]="createdOilModel.description" #description="ngModel"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="m-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" id="quantity" name="quantity" class="form-control" (keyup)="quantityInput($event)" min="1" max="500" required [(ngModel)]="createdOilModel.unitQuantity" #unitQuantity="ngModel">
                    <p *ngIf="unitQuantity.invalid && (unitQuantity.dirty || unitQuantity.touched) && unitQuantity.errors?.['required']">Quantity is required</p>
                    <p *ngIf="unitQuantity.invalid && (unitQuantity.dirty || unitQuantity.touched) && unitQuantity.errors?.['min']">Quantity must be more then 0 units</p>
                    <p *ngIf="unitQuantity.invalid && (unitQuantity.dirty || unitQuantity.touched) && unitQuantity.errors?.['max']">Quantity must be less then 500 units</p>
                    <p *ngIf="quantityIsDecimalNumberError.length">{{ quantityIsDecimalNumberError }}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="m-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" id="price" name="price" class="form-control" (keyup)="priceInput($event)" min="1" max="1000" required [(ngModel)]="createdOilModel.unitPrice" #unitPrice="ngModel">
                    <p *ngIf="unitPrice.invalid && (unitPrice.dirty || unitPrice.touched) && unitPrice.errors?.['required']">Price is required</p>
                    <p *ngIf="unitPrice.invalid && (unitPrice.dirty || unitPrice.touched) && unitPrice.errors?.['min']">Price must be more then 0 $</p>
                    <p *ngIf="unitPrice.invalid && (unitPrice.dirty || unitPrice.touched) && unitPrice.errors?.['max']">Price must be lest then 1000 $</p>
                    <p *ngIf="priceIsDecimalNumberError.length">{{ priceIsDecimalNumberError }}</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="m-3">
                <label for="image" class="form-label">Image</label> 
                <div class="img-space">
                    <div class="row">
                        <div class="col-12">
                        <input [disabled]="isImageChosen ? true : false" type="file" id="data-image-input" class="form-control" (change)="fileChangeEvent($event)">
                        <p>{{imageError}}</p>
        
                        <ng-container *ngIf="isImageChosen; else elseTemplate">
                            <img [src]="cardImageBase64" class="m-1" />
                        </ng-container>
                        <ng-template #elseTemplate>
                        </ng-template>
                        </div>
                    </div>
                </div>
                <a class="btn btn-outline-danger" (click)="removeImage()" *ngIf="isImageChosen">Remove image</a>
            </div>
        </div>
        <div class="btn-container modal-footer">
            <button class="btn btn-secondary m-2" (click)="closeMe()">Close</button>
            <button class="btn btn-primary m-2" 
                [disabled]="brand.errors || scent.errors || liquidVolume.errors || unitPrice.errors 
                    || unitQuantity.errors || !isImageChosen || liquidVolumeIsDecimalNumberError.length || 
                    quantityIsDecimalNumberError.length || priceIsDecimalNumberError.length " (click)="confirm()">Confirm</button>
        </div>
    </div>
  </div>

