<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-5" *ngFor="let balm of userBalms">
        <div class="card modal-card">
          <img [src]="balm.url" class="card-img-top" height="350px">
          <div class="card-body">
            <h5>{{ balm.brand }}, {{ balm.volume }}mg</h5>
            <p [id]="balm.id" class="card-text">{{ balm.description | truncate : 125 }}
                <span *ngIf="balm.description.length > 125 ? true : false" (click)="loadMoreDesc(balm.id)">load more</span>
            </p>
            <h6>Price: {{ balm.unitPrice }}$</h6>
          </div>
          <div class="row m-3">
            <div class="col-12">
              <button type="button" id="add-to-cart-btn" class="btn btn-primary" (click)="addToCart(balm)">Add to card</button>
            </div>
          </div>
        </div>
    </div> 
    <div *ngIf="loadProducts" style="text-align: center; margin-bottom: 30px;">
      <button class="btn btn-primary" (click)="loadMoreProducts()">See more</button>
    </div>
</div>
