.modal-card {
    width: auto; 
    box-shadow: 5px 10px 8px #888888;
}

.btn-primary {
    width: 96%; 
    cursor: pointer;
}

.btn-secondary {
    width: 92%; 
    cursor: pointer;
}

span {
    font-style: italic;
    cursor: pointer;
}

#add-to-cart-btn {
    width: 100%; 
    cursor: pointer;
}