<div class="modal-container">
    <div class="modal-card">
      <h3 class="p-2">Create Soap</h3>
      <div class="row">
        <div class="col-6">
          <div class="m-3">
            <label for="brand" class="form-label">Brand</label>
            <input type="text" id="brand" name="brand" class="form-control" required minlength="3" [(ngModel)]="createdSoapModel.brand" #brand="ngModel" autocomplete="off">
            <p *ngIf="brand.invalid && (brand.dirty || brand.touched) && brand.errors?.['required']">Brand is required</p>
            <p *ngIf="brand.invalid && (brand.dirty || brand.touched) && brand.errors?.['minlength']">Brand must have more then 3 letters</p>
          </div>
        </div>
        <div class="col-6">
          <div class="m-3">
            <label for="edition" class="form-label">Edition</label>
            <input type="text" id="edition" name="edition" class="form-control" required minlength="3" maxlength="50" [(ngModel)]="createdSoapModel.edition" #edition="ngModel">
            <p *ngIf="edition.invalid && (edition.dirty || edition.touched) && edition.errors?.['required']">Edition is required</p>
            <p *ngIf="edition.invalid && (edition.dirty || edition.touched) && edition.errors?.['minlength']">Edition must have more then 3 letters</p>
            <p *ngIf="edition.invalid && (edition.dirty || edition.touched) && edition.errors?.['maxlength']">Edition must be less then 50 letters</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="m-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" id="quantity" name="quantity" class="form-control" (keyup)="onQuantityInput($event)" min="1" max="500" required [(ngModel)]="createdSoapModel.unitQuantity" #unitQuantity="ngModel">
            <p *ngIf="unitQuantity.invalid && (unitQuantity.dirty || unitQuantity.touched) && unitQuantity.errors?.['required']">Quantity is required</p>
            <p *ngIf="unitQuantity.invalid && (unitQuantity.dirty || unitQuantity.touched) && unitQuantity.errors?.['min']">Quantity must be more then 0 units</p>
            <p *ngIf="unitQuantity.invalid && (unitQuantity.dirty || unitQuantity.touched) && unitQuantity.errors?.['max']">Quantity must be less then 500 units</p>
            <p *ngIf="quantityError.length">{{ quantityError }}</p>

          </div>
        </div>
        <div class="col-6">
          <div class="m-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="desciption" rows="1" [(ngModel)]="createdSoapModel.description" #description="ngModel"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="m-3">
            <label for="image" class="form-label">Image</label> 
              <div class="img-space">
                  <div class="row">
                    <div class="col-12">
                      <input id="img-input" type="file" class="form-control" (change)="fileChangeEvent($event)">
                      <p>{{ imageError }}</p>
                      <ng-container *ngIf="isImageChosen; else elseTemplate">
                        <img [src]="cardImageBase64" class="m-1"/>
                      </ng-container>
                      <ng-template #elseTemplate>
                        <!-- <img src="./../../assets/placeholder.png" class="img-responsive"> -->
                      </ng-template>
                    </div>
                  </div>
                  
              </div>
            <a class="btn btn-outline-danger m-2" (click)="removeImage()" *ngIf="isImageChosen">Remove image</a>
          </div>
        </div>
        <div class="col-6">
          <div class="m-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" id="price" name="price" class="form-control" min="1" max="1000" (keyup)="onPriceInput($event)" required [(ngModel)]="createdSoapModel.unitPrice" #unitPrice="ngModel">
            <p *ngIf="unitPrice.invalid && (unitPrice.dirty || unitPrice.touched) && unitPrice.errors?.['required']">Price is required</p>
            <p *ngIf="unitPrice.invalid && (unitPrice.dirty || unitPrice.touched) && unitPrice.errors?.['min']">Price must be more then 0 $</p>
            <p *ngIf="unitPrice.invalid && (unitPrice.dirty || unitPrice.touched) && unitPrice.errors?.['max']">Price must be lest then 1000 $</p>
            <p *ngIf="priceError.length">{{ priceError }}</p>
          </div>
        </div>
      </div>
  
      <div class="btn-container modal-footer">
        <button class="btn btn-secondary" (click)="closeMe()">Close</button>
        <button class="btn btn-primary" 
          [disabled]="brand.errors || edition.errors || unitPrice.errors || unitQuantity.errors || !isImageChosen" (click)="confirm()">Confirm</button>
      </div>
    </div>
  </div>
